html, body {
    width : 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    min-width: 750px;
    scroll-behavior: smooth;
}
*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
*::-webkit-scrollbar-thumb {
    background-color: #2f354273;
    border-radius: 10px;
}
*::-webkit-scrollbar-track {
    background-color: rgb(0,0,0,0);
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}
* {
    transition: all 500ms;
}
a { 
    text-decoration: none ;
    color: unset;
} 
.page-width {
    width : 1466px;
    padding: 0px 50px 0px 50px;
}
@media screen and (max-width: 1466px) {
    .page-width {
        width: calc(750px - 100px);
        padding : 0px 50px 0px 50px;
    }
}
.header {
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    justify-content: center;
    font-family: 'Nunito';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0.02em;
    z-index: 100;
    background-image: linear-gradient(to right, #FFED4E, #FFD320);
}
.header .mobile-header {
    display: none;
}

.header .page-width {
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
    justify-content: center;
}
.header .left {
    position: absolute;
    left: 50px;
}
.header .mid a {
    color: #110000;
    margin: 0px 40px 0px 40px;
}
.header .dl-bt {
    width: 174px;
    height: 43px;
    border: 2px solid #653b0a;
    color: #130000;
    display: flex;
    align-items: center;
    justify-content: center;    border-radius: 50px;
}
.header .right {
    position: absolute;
    right: 50px;
    display: flex;
    align-items: center;
}
.header .right a {
    color: #ffffff;
    margin: 0px 15px 0px 15px;
}
.header .main-icon {
    background-image: url(./img/main-icon.png);
    background-size: 100%;
    width: 217px;
    height: 30px;
}
.header .mobile-menu-bt {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url(./img/mobile-menu-bt.png);
    background-repeat: no-repeat;
    background-position: center;
    right: 50px;
    display: none;
    transition: all 0ms;
}
.header-activity .mobile-menu-bt {
    background-image: url(./img/mobile-close-menu-bt.png);
}
@media screen and (max-width: 1466px) {
    .header .main-icon {
        width: 260px;
        height: 36px;
    }
    .header .mid,
    #join-bt,
    #login-bt {
        display: none;
    }
    .header .mobile-menu-bt { 
        display: unset;
    }
    .header .right a {
        margin-right: 70px;
    }

    .header .mobile-header {
        display: block;
        background: rgba(0, 0, 0, 0.767);
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
        z-index: -1;
    }
    .header-activity .mobile-header { 
        position: fixed;
        opacity: 1;
        z-index: 0;
    }
    .header .mobile-header .inner {
        width: 100%;
        height: 500px;
        position: fixed;
        top: -500px;
        left: 0px;
        background: rgba(255, 212, 33, 0.9);
        text-align: right;
        font-family: Avenir;
        font-size: 28px;
        font-style: normal;
        font-weight: 800;
        line-height: 45px;
        letter-spacing: 0.02em;
        text-align: right;
        border-radius: 0px 0px 50px 50px;
    }
    .header-activity .mobile-header .inner {
        top: 0px;
    }
    .header .mobile-header .inner div {
        margin: 10px 50px 10px 0px;
        margin-right: 50px;
        
    }
    .header .mobile-header .inner div:first-child {
        margin-top: 140px;
    }
    .header .mobile-header #login-bt,
    .header .mobile-header #join-bt {
        display: inline-block;
        color: #FFFFFF;
    }
    
}


.main-page {
    width: 100%;
    height: 907px;
    background-image: linear-gradient(to right,  #FFED4E, #FFD320);
}

.main-page .page-width {
    position: relative;
    z-index: 1;
}
.main-page .left-star {
    width: 187px;
    height: 147px;
    background-image: url(./img/main/left-star.png);
    position: absolute;
    top: 432px;
    left: 0px;
}
.main-page .right-star {
    width: 271px;
    height: 262px;
    background-image: url(./img/main/right-star.png);
    position: absolute;
    top: 155px;
    right: 0px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.main-page .float-saly {
    width: 230px;
    height: 178px;
    background-image: url(./img/main/float-saly.png);
    position: absolute;
    top: 464px;
    right: 71px;
    background-size: 100%;
}
.main-page .circle-dl-bt {
    width: 214px;
    height: 214px;
    position: absolute;
    top: 730px;
    right: -150px;
    background-size: 100%;
    z-index: 99;
    background-color: #ffd625;
    border-radius: 100%;
}
@media screen and (max-width: 1920px) {
    .main-page .circle-dl-bt {
        right: 60px
    }
  }
.main-page .circle-dl-bt .back {
    width: 214px;
    height: 214px;
    background-image: url(./img/main/info-circle-back.png);
    background-size: 90%;
    position: absolute;
    top: 0px;
    right: 0px;
    background-position: center;
    background-repeat: no-repeat;
}
.main-page .circle-dl-bt .icon {
    width: 214px;
    height: 214px;
    background-image: url(./img/main/info-circle-icon.png);
    background-size: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
}
.main-page .pc {
    width: 739px;
    height: 535px;
    background-image: url(./img/main/pc.png);
    position: absolute;
    top: 170px;
    right: 0px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.main-page .front {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.main-page .front .big-text {
    font-family: Black Han Sans;
    font-size: 75px;
    font-style: normal;
    font-weight: 400;
    line-height: 94px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 193px;
    color: #481f05;
}
.main-page .front .description {
    font-family: Noto Sans KR;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-top: 17px;
}
.main-page .front .mobile-description {
    display: none;
    font-family: Noto Sans KR;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 43px;
    letter-spacing: -0.03em;
    text-align: left;
}
.main-page .front .dl-bt {
    width: 263px;
    height: 60px;
    background-image: url(./img/main/dl-bt.png);
    margin-top: 60px;
}


@media screen and (max-width: 1466px) { 
    .main-page {
       height: 1330px;
    }
    .main-page .front .big-text {
        font-family: Black Han Sans;
        font-size: 85px;
        font-style: normal;
        font-weight: 400;
        line-height: 106px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 130px;
    }
    .main-page .front .description {
        display: none;
    }  
    .main-page .front .mobile-description {
        display: unset;

    }
    .main-page .front .dl-bt {
        margin-top: 30px;
    }
    .main-page .pc {
        top: 725px;
        width: 639px;
        right: unset;
        left: 50px;
    }
    .main-page .right-star {
        top: 578px;
        width: 201px;
    }
    .main-page .circle-dl-bt {
        width: 172px;
        height: 172px;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 1210px;
    }
    .main-page .circle-dl-bt .back {
        width: 133px;
        height: 133px;
        background-image: url(./img/main/mobile-info-circle-back.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        top: unset;
        right: unset;
    }
    .main-page .left-star {
        width: 187px;
        height: 147px;
        background-image: url(./img/main/mobile-left-star.png);
        position: absolute;
        top: 138px;
        left: unset;
        right: 0px;
    }
    .main-page .float-saly {
        top: 814px;
        right: 19px;
    }
}

.universe-page {
    position: relative;
    overflow: hidden;
    height: 1060px;
    background-image: url(./img/background-space.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-mask-image: url(./img/mask-wave1.png), linear-gradient(to bottom, rgb(0 0 0), rgb(0 0 0));
    -webkit-mask-position: right 0px, 0px 100px;
    -webkit-mask-size: 1920px 100px,100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(./img/mask-wave1.png), linear-gradient(to bottom, rgb(0 0 0), rgb(0 0 0));
    mask-position: right 0px, 0px 100px;
    mask-size: 1920px 100px,100% 100%;
    mask-repeat: no-repeat;
    margin-top: -100px;

    display: flex;
    flex-direction: column;
    align-items: center;
}


@media screen and (min-width: 1920px) {
    .universe-page { 
        -webkit-mask-size: 100% 100px,100% 100%;
        mask-size: 100% 100px,100% 100%;
    }
}
.universe-page .description1 {
    width: 1546px;
    height: 630px;
    background-image: url(./img/universe-page/description1.png);

}
.universe-page .small-text {
    font-family: 'Black Han Sans';
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    margin-top: 40px;
}
.universe-page .big-text {
    font-family: 'Black Han Sans';
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFED4E;
    margin-top: 15px;
}
.universe-page .scroll-box {
    margin-top: 140px;
    width: 100%;
    height: 630px;
    overflow: hidden;
    overflow-x: auto;
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 1466px) {
    .universe-page .scroll-box { 
        max-width: 1238px;
        display: block;
        overflow-x: auto;
        margin-top: 200px;
        height: 550px;
    }
    .universe-page .description1 {
        width: 1238px;
        background-repeat: no-repeat;
        height: 619px;
        background-size: 100%;
    }

}



.cultrue-page {
    position: relative;
    overflow: hidden;
    height: 1080px;
    background-image: url(./img/background-white.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-mask-image: url(./img/mask-wave2.png), linear-gradient(to bottom, rgb(0 0 0), rgb(0 0 0));
    -webkit-mask-position: center 0px, 0px 100px;
    -webkit-mask-size: 1920px 100px, 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(./img/mask-wave1.png), linear-gradient(to bottom, rgb(0 0 0), rgb(0 0 0));
    mask-position: center 0px, 0px 100px;
    mask-size: 1920px 100px, 100% 100%;
    mask-repeat: no-repeat;
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (min-width: 1920px) {
    .cultrue-page { 
        -webkit-mask-size: 100% 100px,100% 100%;
        mask-size: 100% 100px,100% 100%;
    }
}
.cultrue-page .text1 {
    font-family: Noto Sans KR;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -0.03em;
    text-align: left;
    margin-top: 200px;
    color: #481F05;
}
.cultrue-page .text1 span {
    color: #FFD320;
}
.cultrue-page .text2 {
    font-family: Noto Sans KR;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.03em;
    margin-top: 20px;
    color: #787878;
    text-align: center;
}
.cultrue-page .text2 span {
    color: #FFD320;
}
.cultrue-page .scroll {
    width: 100%;
    margin-top: 40px;
    overflow-x: scroll;
    height: 590px;
    white-space: nowrap;
}
.cultrue-page .scroll .inner {
    width: 110%;
    text-align: center;
}
.cultrue-page .scroll .item {
    width: 477px;
    height: 543px;
    display: inline-block;
    margin: 0px 10px 0px 10px;
}
.cultrue-page .scroll .item::nth-child(1) {
    scroll-snap-align: start;
}
.cultrue-page .scroll .item .pic {
    width: 100%;
    height: 334px;
}
.cultrue-page .scroll .item .title {
    font-family: 'Nunito';
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 12px;
    text-align: left;
}
.cultrue-page .scroll .item .description {
    font-family: 'Noto Sans KR';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.03em;
    text-align: left;
}
@media screen and (max-width: 1466px) {
    .cultrue-page .text1 {
        font-family: Noto Sans KR;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: -0.03em;
        text-align: left;
        margin-top: 200px;
        color: #481F05;
        width: 610px;
        text-align: center;
    }



}


.main-page .float-rocket {
    width: 448px;
    height: 577px;
    background-image: url(./img/cultrue-page/rocket.png);
    position: absolute;
    top: 1722px;
    right: 0px;
    z-index: 1;
    background-size: 100%;
}
@media screen and (max-width: 1466px) {
    .main-page .float-rocket {
        width: 215px;
        height: 351px;
        background-image: url(./img/cultrue-page/mobile-rocket.png);
        top: 2152px;
    }

}


.butterland-page {
    position: relative;
    overflow: hidden;
    height: 850px;
    background-image: url(./img/background-star.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-mask-image: url(./img/mask-wave3.png), linear-gradient(to bottom, rgb(0 0 0), rgb(0 0 0));
    -webkit-mask-position: center 0px, 0px 100px;
    -webkit-mask-size: 1920px 100px,100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(./img/mask-wave1.png), linear-gradient(to bottom, rgb(0 0 0), rgb(0 0 0));
    mask-position: center 0px, 0px 100px;
    mask-size: 1920px 100px,100% 100%;
    mask-repeat: no-repeat;
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (min-width: 1920px) {
    .butterland-page { 
        -webkit-mask-size: 100% 100px,100% 100%;
        mask-size: 100% 100px,100% 100%;
    }
}

.butterland-page .small-text {
    font-family: 'Nunito';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 5px;
    margin-top: 260px;
    color: #FCE83B;
}
.butterland-page .title {
    font-family: Black Han Sans;
    font-size: 75px;
    font-style: normal;
    font-weight: 400;
    line-height: 94px;
    letter-spacing: 0em;
    text-align: center;
    color: #FCE83B;
    margin-top: 15px;
}
.butterland-page .mobile-description,
.butterland-page .description {
    font-family: Noto Sans KR;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #FCE83B;
    margin-top: 100px;
}
.butterland-page .mobile-description {
    display: none;
}
@media screen and (max-width: 1466px) {
    .butterland-page .mobile-description {
        display: unset;
    }
    .butterland-page .description { 
        display: none;
    }
    .butterland-page .small-text {
        margin-top: 200px;
    }
}


.platform-page {
    position: relative;
    width: 100%;
    height: 525px;
    background-image: linear-gradient(to right,  #FFED4E, #FFD320);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.platform-page .page-width {
    height: 100%;
    position: relative;
}
.platform-page .homie {
    width: 805px;
    height: 655px;
    background-image: url(./img/platform-page/homie.png);
    position: absolute;
    top: 40px;
    left: -70px;
}
.platform-page .browser {
    width: 386px;
    height: 386px;
    background-image: url(./img/platform-page/browser.png);
    position: absolute;
    top: 0px;
    left: 430px;
}
.platform-page .textbox {
    width: 630px;
    position: absolute;
    right: 50px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
.platform-page .title {
    font-family: Noto Sans KR;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #481F05;
}
.platform-page .small-text {
    font-family: Noto Sans KR;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #1F1F1F;
    margin-top: 10px;
}
.platform-page .preview-bt {
    width: 194px;
    height: 60px;
    background-image: url(./img/platform-page/preview-bt.png);
    background-size: 100%;
    margin-top: 45px;
}
.platform-page .light {
    width: 750px;
    height: 920px;
    background-size: 100%;
    background: url(./img/cultrue-page/light.png);
    position: absolute;
}
@media screen and (max-width: 1466px) {
    .platform-page {
        height: 940px;
    }
    .platform-page .homie {
        top: unset;
        bottom: -210px;
        background-size: 100%;
        background-repeat: no-repeat;
        width: 727px;
    }
    .platform-page .browser {
        top: unset;
        bottom: 100px;
        right: -11px;
        left: unset;
        background-size: 100%;
        width: 320px;
        background-repeat: no-repeat;
    }
    .platform-page .textbox {
        width: 100%;
        position: absolute;
        left: 50px;
        display: flex;
        height: 50%;
        flex-direction: column;
        justify-content: center;
    }
    .platform-page .title {
        font-size: 40px;
        width: 550px;
        margin-bottom: 30px;
    }
    .platform-page .small-text {
        font-size: 25px;
    }
    .platform-page .light {
        top: 260px;
    }
}




.contact-page { 
    position: relative;
    width: 100%;
    height: 697px;
    background-color: #fff053;
    background-image: url(./img/contact-page/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.contact-page .inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-page .title {
    font-family: Black Han Sans;
    font-size: 75px;
    font-style: normal;
    font-weight: 400;
    line-height: 94px;
    letter-spacing: 0em;
    text-align: center;
    color: #481F05;
}
.contact-page .mid {
    font-family: Noto Sans KR;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #481F05;
}
.contact-page .small {
    font-family: Noto Sans KR;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #481F05;
}
.contact-page .apply-bt {
    width: 175px;
    height: 70px;
    display: inline-flex;
    font-family: 'Nunito';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 7px;
    justify-content: center;
    align-items: center;
    background: #481F05;
    color: white;
    border-radius: 60px;
    margin: 0px 44px 0px 44px;
    margin-top: 60px;
}
.contact-page .mobile-img {
    display: none;
} 
@media screen and (max-width: 1466px) {
    .contact-page {
        height: 1110px;
        background-image: unset;
    }
    .contact-page .inner {
        height: 50%;
    }
    .contact-page .mobile-img {
        width: 100%;
        height: 50%;
        position: absolute;
        top: 43%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contact-page .img {
        width: 840px;
        height: 637px;
        background-image: url(./img/contact-page/mobile-background.png);
        background-size: 100%;
    }
}




.location-page {
    position: relative;
    width: 100%;
    height : 888px;


}
.location-page .left {
    position: absolute;
    width: calc(40%);
    height: 100%;
    left: 0px;
    top: 0px;
    background: linear-gradient(to left, rgb(0 0 0 / 70%), rgb(0 0 0 / 70%)), url(./img/location-page/background.png);
    background-position: center left;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.location-page .left .inner {
    text-align: right;
    font-family: 'Noto Sans KR';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.02em;
    text-align: right;
    color: white;
}
.location-page .left .phone {
    background-image: url(./img/location-page/phone.png);
    width: 20px;
    height: 19px;
    background-position: center;
    display: inline-block;
    background-repeat: no-repeat;
    margin-right: 10px;
}
.location-page .left .fax {
    background-image: url(./img/location-page/fax.png);
    width: 20px;
    height: 19px;
    background-position: center;
    display: inline-block;
    background-repeat: no-repeat;
    margin-right: 10px;
}
.location-page .left .email {
    background-image: url(./img/location-page/sms.png);
    width: 20px;
    height: 19px;
    background-position: center;
    display: inline-block;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.location-page .left .inner .title {
    font-family: 'Black Han Sans';
    font-size: 75px;
    font-style: normal;
    font-weight: 400;
    line-height: 94px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}
.location-page .map {
    position: absolute;
    width: calc(60%);
    height: 100%;
    right: 0px;
    top: 0px;
    background: #6b6b6b;
}
@media screen and (max-width: 1466px) {
    .location-page {
        height: calc(747px + 617px);
    }
    .location-page .left { 
        width: 100%;
        height: 747px;
    }
    .location-page .map {
        width: 100%;
        height: 617px;
        top: 747px;
    }
    .location-page .left .inner .title {
        font-size: 85px;
    }
    .location-page .left .inner {
        font-size: 25px;
    }
    .location-page .left .inner div {
        margin: 20px 0px 20px 0px;
    }
}



.footer {
    
    width: 100%;
    height: 192px;
    background-color: #FFD320;
    font-family: Noto Sans KR;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.02em;
    text-align: left;
    display: flex;
    justify-content: center;
}
.footer .page-width {
    position: relative;
    height: 100%;
}
.footer .icon {
    background-image: url(./img/main-icon.png);
    width: 158px;
    height: 22px;
    background-size: 100%;
    display: inline-block;
    margin-top: 33px;
    margin-bottom: 17px;
}
.footer .space {
    display: inline-block;
    width: 43px;
}
.footer .bold {
    font-weight: 700;
}
.footer .copyright {
    position: absolute;
    bottom: 23px;
}
.footer .right-box {
    position: absolute;
    right: 80px;
    top: 30px;
}
.footer .top-bt {
    width: 50px;
    height: 50px;
    background-image: url(./img/go-to-top-bt.png);
    position: absolute;
    right: 50px;
    top: 20px;
}
.footer br {
    display: none;
}
@media screen and (max-width: 1466px) {
    .footer {
        height: 426px;
        font-size: 22px;
    }
    .footer br {
        display: unset;
    }
    .footer .space {
        display: none;
    }
    .footer span {
        margin: 10px 0px 10px 0px;
        display: inline-block;
    }
    .footer .right-box {
        position: absolute;
        left: 50px;
        top: 300px;
    }
    .footer .right-box .space {
        display: inline-block;
    }
}