html, body {
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(214, 214, 214);
    font-family: 'Noto Sans KR', sans-serif;
}
body {
    padding: 20px;
    width: calc(100% - 40px);
    min-height: calc(100% - 40px);
}

img {
    transition: opacity 500ms;
}

.main {
    position: relative;
    width: 100%;
    min-height: 100%;
}

.main .menu {
    width: 300px;
    z-index: 99;
    position: fixed;
    height: calc(100% - 40px);
    overflow: auto;
    background: white;
}
.main .menu .item {
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
}
.main .menu .item.active {
    background: #00a2a5;
    color: white;
}

a {
    color: black;
}

.main .list {
    position: relative;
    padding-left: 300px;
    width: calc(100% - 300px);
    font-size: 25px;
}
.main .list .desc {
    padding: 20px;
}
.main .list img {
    width: calc(50% - 20px);
    box-shadow: 5px 5px 10px #00000087;
    object-fit: contain;
    margin: 10px;
    opacity: 0;
    background: white;
    cursor: pointer;
}
.viewOut {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: #000000c9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.viewOut .item {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}
.viewOut .close-button {
    position: absolute;
    top: 2vw;
    right: 2vw;
    font-size: 2vw;
    font-weight: bold;
    cursor: pointer;
    color: white;
    background: #ffffff;
    font-family: 'Noto Sans KR';
    width: 6vw;
    height: 6vw;
    max-width: 50px;
    max-height: 50px;
    border-radius: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0.2vw 0.2vw 2vw black;
}
.viewOut .close-button svg {
    width: 60%;
}
.viewOut .close-button svg path {
    fill: black;
}
.viewOut .description {
    bottom: 2%;
    position: absolute;
}
.viewOut .description a {
    color: #ffffff;
    display: block;
    width: 90vw;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
@media screen and (max-width: 900px) {
    body {
        padding: 0px;
        width: 100%;
        min-height: unset;
    }
    .main .menu {
        width: 30vw;
        height: 100%;
    }
    .main .list {
        padding-left: 30vw;
        width: calc(100% - 30vw);
        font-size: 2vw;
    }
    .main .menu .item {
        padding: 2vw;
        font-size: 3vw;
    }
    .main .list img {
        width: calc(100% - 20px);
    }
    .viewOut .close-button {
        width: 10vw;
        height: 10vw;
    }
}