{
  "swagger": "2.0",
  "info": {
    "description": "Butter-Land API 정리",
    "version": " 0.0.1",
    "title": "Butter-Land API 정리",
    "termsOfService": "https://butterland.co.kr/api",
    "contact": {
      "email": "daemyung6@gmail.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "butterland.co.kr",
  "basePath": "/api",
  "tags": [
    {
      "name": "user",
      "description": "user",
      "externalDocs": {
        "description": "유저 API",
        "url": "https://butterland.co.kr/api/user"
      }
    }
  ],
  "schemes": [
    "https"
  ], 
  "paths": {
    "/user": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "유저 조회",
        "description": "유저 목록을 조회 합니다.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "성공",
            "schema": {
              "type": "array",
              "properties": {
                "err": {
                  "type": "boolean"
                },
                "msg": {
                  "type": "string"
                },
                "user": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "user_id": {
                      "type": "string"
                    },
                    "nick_name": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "phone": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description": "실패",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "post": {
        "tags": [
          "user"
        ],
        "summary": "유저 생성",
        "description": "유저를 생성합니다.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "유저 생성",
            "schema": {
              "type": "object",
              "properties": {
                "user_id": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                },
                "nick_name": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "phone": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "err": {
                  "type": "boolean"
                },
                "msg": {
                  "type": "string"
                },
                "user": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "user_id": {
                      "type": "string"
                    },
                    "nick_name": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "phone": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description": "실패",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/user/{id}": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "특정 유저 조회",
        "description": "특정 유저를 조회 합니다.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "user_id": {
                  "type": "string"
                },
                "nick_name": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "phone": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                }
              }
            }
          },
          "500" : {
            "description": "실패",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/user/{id}/friend": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "사용자 친구 목록 조회",
        "description": "사용자 친구 목록 조회",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "성공",
            "schema": {
              "type" : "array",
              "items" : {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "user_id": {
                    "type": "string"
                  },
                  "nick_name": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "500" : {
            "description": "실패",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/user/{id}/notification": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "사용자 새 알림 목록 조회",
        "description": "사용자 새 알림 목록 조회",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "성공",
            "schema": {
              "type" : "array",
              "items" : {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string"
                  },
                  "detail": {
                    "type" : "array",
                    "items" : {
                      "type": "object",
                      "properties": {
                        "id" : {
                          "type" : "integer"
                        },
                        "from_user_num_id" : {
                          "type" : "integer"
                        },
                        "to_user_num_id" : {
                          "type" : "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description": "실패",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/login": {
      "post": {
        "tags": [
          "login"
        ],
        "summary": "로그인",
        "description": "윺저 로그인을 합니다.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "유저 생성",
            "schema": {
              "type": "object",
              "properties": {
                "user_id": {
                  "type": "string"
                },
                "user_pw": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "err": {
                  "type": "boolean"
                },
                "success": {
                  "type": "boolean"
                },
                "user": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "user_id": {
                      "type": "string"
                    },
                    "nick_name": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "phone": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    }
                  }
                },
                "dedicated_server" : {
                  "type": "string"
                }
              }
            }
          },
          "500" : {
            "description": "실패",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/friend": {
      "get": {
        "tags": [
          "friend"
        ],
        "summary": "전체 친구 목록 조회",
        "description": "전체 친구 목록 조회",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "성공",
            "schema": {
              "type": "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id": {
                    "type": "integer"
                  },
                  "from_user_num_id": {
                    "type": "string"
                  },
                  "to_user_num_id": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "500" : {
            "description": "실패",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "post": {
        "tags": [
          "friend"
        ],
        "summary": "친구 추가 요청",
        "description": "친구 추가 요청",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "유저 생성",
            "schema": {
              "type": "object",
              "properties": {
                "from_user_num_id": {
                  "type": "integer"
                },
                "to_user_num_id": {
                  "type": "integer"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "err": {
                  "type": "boolean"
                },
                "success": {
                  "type": "boolean"
                },
                "msg": {
                  "type": "string"
                }
              }
            }
          },
          "500" : {
            "description": "실패",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/friend/{id}": {
      "get": {
        "tags": [
          "friend"
        ],
        "summary": "개별 친구 조회",
        "description": "개별 친구 조회",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "성공",
            "schema": {
              "type" : "object",
              "properties" : {
                "id": {
                  "type": "integer"
                },
                "from_user_num_id": {
                  "type": "string"
                },
                "to_user_num_id": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                }
              }
              
            }
          },
          "500" : {
            "description": "실패",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "put": {
        "tags": [
          "friend"
        ],
        "summary": "친구 요청 수락",
        "description": "친구 요청 수락",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "유저 생성",
            "schema": {
              "type": "object",
              "properties": {
                "to_user_num_id": {
                  "type" : "integer"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "err": {
                  "type": "boolean"
                },
                "msg": {
                  "type": "string"
                },
                "success": {
                  "type": "string"
                }
              }
            }
          },
          "500" : {
            "description": "실패",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    }


  },
  "securityDefinitions": {
    
  },
  "definitions": {
    "error": {
      "properties": {
        "err": {
          "type": "boolean"
        },
        "msg": {
          "type": "string"
        }
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  }
}